*
    box-sizing border-box
    margin 0
    padding 0 
.section 
    padding 4rem 0
    header 
        padding 1rem
    footer
        // display flex
        // align-items center
        // justify-content center 
        color $val
        padding-top 2rem
        font-size 1.2rem
        text-align center
        .logo 
            max-width 10rem
            margin  0 auto 1rem
h2 
    font-size 2.4rem
    color complement($val)
    font-family 'Times New Roman'
    font-weight 300
    text-align center

h3 
    font-size 1.4rem
    color $val

.tagline 
    color $val
    font-size 1.5rem
    text-align center
    max-width 50rem
    margin auto
+above(640px)
    h2 
        font-size 3rem

+above(1060px)
    h2 
        font-size 3.6rem