#locale 
    .wrapper
        display flex 
        max-width 1280px 
        flex-direction row 
        flex-wrap wrap
        margin auto 
    .details
        background green
        +above(820px)
            width 50%
    .map 
        +above(820px)
            width 50%